* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
}

#page_container {
  background-image: url("../media/bg.jpg"); /*BG Image*/
  background-repeat: no-repeat;
  background-position: right;
}

.logo img {
  width: 40px;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav ul a {
  margin-right: 2rem;
  text-decoration: none;
  font-family: "Calibri Light";
  font-size: 1.2rem;
  color: #fff;
}

nav ul a:hover {
  color: #2f00ff;
}

/*NAV BTN STLYLES*/

.nav_btn a {
  text-decoration: none;
  font-family: "Calibri Light";
  font-size: 1.2rem;
  margin-right: 1.2rem;
  color: #fff;
}

.nav_btn a:hover {
  color: #2f00ff;
}

.nav_btn input {
  background-color: #2f00ff;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.nav_btn input:hover {
  color: #2f00ff;
  background-color: #fff;
}

/*MAIN PAGE STYLES*/

main {
  margin-top: 2rem;
}

main#main_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_page .article_one h1 {
  font-size: 3rem;
  color: #fff;
}

#main_page .article_one p {
  font-family: "Calibri Light";
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: #fff;
}

.main_btn button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  background-color: #2f00ff;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 1.5rem 1.5rem 0;
}
.main_btn button:nth-child(2) {
  background-color: #ccc;
}

.main_btn button:hover {
  color: #2f00ff;
  background-color: #fff;
  cursor: pointer;
}

.main_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#main_page .article_one h3 {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  color: #fff;
}
